* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana;
}

header {
  text-align: center;
  color: purple;
  font-family: sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
}

main {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.flex-cards {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  width: 240px;
  height: 100px;
  color: white;
  background-color: black;
  display: flex;
  text-align: row;
}

.box img {
  height: 80px;
  margin-right: 10px;
}
